1) Python function to print permutations of a given list

In [128]:
def permutation(lst): 
  
    # If lst is empty then there are no permutations 
    if len(lst) == 0: 
        return [] 
  
    # If there is only one element in lst then, only 
    # one permuatation is possible 
    if len(lst) == 1: 
        return [lst] 
  
    # Find the permutations for lst if there are 
    # more than 1 characters 
  
    l = [] # empty list that will store current permutation 
  
    # Iterate the input(lst) and calculate the permutation 
    for i in range(len(lst)): 
       m = lst[i] 
  
       # Extract lst[i] or m from the list.  remLst is 
       # remaining list 
       remLst = lst[:i] + lst[i+1:] 
  
       # Generating all permutations where m is first 
       # element 
       for p in permutation(remLst): 
           l.append([m] + p) 
    return l 
  
  
# Driver program to test above function 
data = list('123') 
for p in permutation(data): 
    print(p)

['1', '2', '3']
['1', '3', '2']
['2', '1', '3']
['2', '3', '1']
['3', '1', '2']
['3', '2', '1']

2) Program which takes string as an input and print the characters that have even indexes.

In [129]:
s="T1H2E3 4S5C6H7O8O9L1 2O3F4 5A6I"
s = s[::2]
print(s)

THE SCHOOL OF AI

3) Program which reverses a string

In [130]:
input_ = "IA FO LOOHCS EHT"
input_ = input_[::-1]
print(input_)

THE SCHOOL OF AI

4) Program to count the frequency of each letter in a string

In [131]:
dictionaryOfLetters = {}
input_ = "THE SCHOOL OF AI"
for input_ in input_:
    dictionaryOfLetters[input_] = dictionaryOfLetters.get(input_,0)+1
print('\n'.join(['%s,%s' % (k, v) for k, v in dictionaryOfLetters.items()]))

T,1
H,2
E,1
 ,3
S,1
C,1
O,3
L,1
F,1
A,1
I,1

5) Program to remove duplicates from the list

In [132]:
def removeDuplicate(inputList):
    extractedList = []
    duplicacyMaintainenceSet = set()
    for item in inputList:
        if item not in duplicacyMaintainenceSet:
            duplicacyMaintainenceSet.add(item)
            extractedList.append(item)
    return extractedList

inputList=[16, 4, 3, 12, 4, 6, 16, 18, 20, 15]
print(removeDuplicate(inputList))

[16, 4, 3, 12, 6, 18, 20, 15]

6) Program to make a list of elements which are intersection of two lists

In [133]:
set1=set([1,3,6,78,35,55,100]) #Converting list to set
set2=set([12,24,35,100,24,88,120,155]) #Converting list to set

set1 &= set2 #Intersection of two sets
outputList=list(set1) #Converting the resulting Set into List
print(outputList)

[35, 100]

7) Program to remove one particular Year from a list of years

In [134]:
listOfYears = [1988, 2004, 2006, 2009, 2020, 2012, 2014, 2015]
listOfYears = [x for x in listOfYears if x!=2020] #List Comprehension to remove the year 2020
print(listOfYears)

[1988, 2004, 2006, 2009, 2012, 2014, 2015]

8) Program to remove elements of a list of years from the mentioned positions

In [135]:
listOfYears = [1988, 2004, 2006, 2009, 2020, 2012, 2014, 2015, 2017, 2018, 2019]
listOfYears = [x for (i,x) in enumerate(listOfYears) if i not in (4,8)] # Removes 2020 and 2017
print(listOfYears)

[1988, 2004, 2006, 2009, 2012, 2014, 2015, 2018, 2019]

9) Program to generate a 2X3X5 matrices where each element is 9

In [136]:
matrice = [[ [9 for col in range(5)] for col in range(3)] for row in range(2)]
print(matrice)

[[[9, 9, 9, 9, 9], [9, 9, 9, 9, 9], [9, 9, 9, 9, 9]], [[9, 9, 9, 9, 9], [9, 9, 9, 9, 9], [9, 9, 9, 9, 9]]]

10) Program to remove the even indices from a list of numbers

In [137]:
numList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 8, 7, 6, 5, 4, 3, 2, 1]
numList = [x for (i,x) in enumerate(numList) if i%2!=0]
print(numList)

[2, 4, 6, 8, 8, 6, 4, 2]

11) Program to delete numbers which are divisible by both 3 and 5 from a list of numbers

In [138]:
numList = [12,24,35,70,88,120,155]
numList = [x for x in numList if x%5!=0 and x%7!=0]
print(numList)

[12, 24, 88]

12) Program to delete even numbers from the list of numbers

In [139]:
numList = [12,24,35,70,88,120,155]
numList = [x for x in numList if x%2 != 0]
print(numList)

[35, 155]

13) Program to generate sentences for the mentioned Subject, Verb and Object

In [140]:
subjects=["I", "You"]
verbs=["Enjoy", "Code"]
objects=["Java","Python"]
for i in range(len(subjects)):
    for j in range(len(verbs)):
        for k in range(len(objects)):
            sentence = "%s %s %s." % (subjects[i], verbs[j], objects[k])
            print(sentence)

I Enjoy Java.
I Enjoy Python.
I Code Java.
I Code Python.
You Enjoy Java.
You Enjoy Python.
You Code Java.
You Code Python.

14) Program to shuffle and print the list

In [141]:
from random import shuffle
inputList = [12, 14, 5, 6, 9]
shuffle(inputList)
print('First Shuffle', inputList)
shuffle(inputList)
print('Second Shuffle', inputList)
shuffle(inputList)
print('Third Shuffle', inputList)

First Shuffle [6, 9, 14, 5, 12]
Second Shuffle [14, 12, 6, 9, 5]
Third Shuffle [12, 14, 9, 5, 6]

15) Program to calculate and print the running time of one particular operation 100 times

In [142]:
from timeit import Timer
t = Timer("for i in range(100): 100 * 100") #Calculation 100 * 100 for 100 times
print('First time Calculation : ', t.timeit()) #function to measure the running time.
t = Timer("for i in range(100): 100 * 100") #Calculation 100 * 100 for 100 times
print('Second time Calculation : ', t.timeit()) #function to measure the running time.

First time Calculation :  1.6373565899993991
Second time Calculation :  1.6342936189994361

16) Program to randomly print an integer between two specified integer numbers

In [143]:
import random
print('First Random number : ', random.randrange(5,10))
print('Second Random number : ', random.randrange(5,10))
print('Third Random number : ', random.randrange(5,10))
print('Fourth Random number : ', random.randrange(5,10))

First Random number :  7
Second Random number :  6
Third Random number :  6
Fourth Random number :  9

17) Program to randomly generate a list with specified number of occurences which are divisible by 5 and 8, between 1 and 1000 inclusively

In [144]:
import random
print("First Random : ", random.sample([i for i in range(1,1001) if i%5==0 and i%8==0], 10))
print("Second Random : ", random.sample([i for i in range(1,1001) if i%5==0 and i%8==0], 10))
print("Third Random : ", random.sample([i for i in range(1,1001) if i%5==0 and i%8==0], 10))
print("Fourth Random : ", random.sample([i for i in range(1,1001) if i%5==0 and i%8==0], 10))
print("Fifth Random : ", random.sample([i for i in range(1,1001) if i%5==0 and i%8==0], 10))

First Random :  [720, 280, 800, 560, 80, 960, 520, 120, 920, 840]
Second Random :  [40, 760, 960, 920, 320, 600, 160, 1000, 80, 520]
Third Random :  [440, 840, 1000, 680, 240, 80, 760, 400, 520, 360]
Fourth Random :  [1000, 560, 960, 520, 840, 480, 680, 400, 320, 280]
Fifth Random :  [880, 760, 240, 360, 40, 320, 920, 1000, 160, 440]

18) Program to randomly generate a list with 5 even numbers between 100 and 200 inclusively

In [145]:
import random
print('First random: ', random.sample([i for i in range(100,201) if i%2==0], 5))
print('Second random: ', random.sample([i for i in range(100,201) if i%2==0], 5))
print('Third random: ', random.sample([i for i in range(100,201) if i%2==0], 5))

First random:  [146, 152, 102, 160, 106]
Second random:  [116, 148, 182, 166, 188]
Third random:  [120, 176, 106, 100, 154]

19) Program to randomly generate a list of random values

In [146]:
import random
print('First Randomn:', random.sample(range(50), 7))
print('Second Randomn:', random.sample(range(50), 7))
print('Third Randomn:', random.sample(range(50), 7))
print('Fourth Randomn:', random.sample(range(50), 7))
print('Fifth Randomn:', random.sample(range(50), 7))

First Randomn: [35, 2, 37, 43, 34, 16, 20]
Second Randomn: [31, 40, 11, 20, 8, 47, 6]
Third Randomn: [22, 6, 29, 41, 48, 20, 35]
Fourth Randomn: [33, 20, 46, 41, 32, 9, 5]
Fifth Randomn: [22, 25, 16, 37, 48, 45, 33]

20) Program to generate a random float between 5 and 95 using

In [147]:
import random
print('First Random : ', random.random()*100-5)
print('Second Random : ', random.random()*100-5)
print('Third Random : ', random.random()*100-5)
print('Fourth Random : ', random.random()*100-5)
print('Fifth Random : ', random.random()*100-5)

First Random :  50.90225941763251
Second Random :  36.29092224305286
Third Random :  33.00381912812155
Fourth Random :  80.70484404209814
Fifth Random :  16.31624871774368

21) Program to generate a random float between 10 and 100 using

In [148]:
import random
print('First Random : ', random.random()*100)
print('Second Random : ', random.random()*100)
print('Third Random : ', random.random()*100)
print('Fourth Random : ', random.random()*100)
print('Fifth Random : ', random.random()*100)

First Random :  6.29873348486435
Second Random :  7.188115917600902
Third Random :  32.659984864302736
Fourth Random :  6.160191896294531
Fifth Random :  2.6563200548705868

22) Program implementing Binary Search function in a Sorted list

In [149]:
import math
def bin_search(inputList, searchElement):
    bottom = 0
    top = len(inputList)-1
    index = -1
    while top>=bottom and index==-1:
        mid = int(math.floor((top+bottom)/2.0))
        if inputList[mid]==searchElement:
            index = mid
        elif inputList[mid]>searchElement:
            top = mid-1
        else:
            bottom = mid+1

    return index

inputList=[12,25,37,49,51,67,82]
print('Postition of 67 : ', bin_search(inputList,67))
print('Position of 37', bin_search(inputList,37))

Postition of 67 :  5
Position of 37 2

23) Program takes expression as an input and evaluates it

In [150]:
expression = "25+12"
print(expression, ' result is : ', eval(expression))

25+12  result is :  37

24) Program to verify whether every element in a list is even or not using assert statement

In [151]:
input_= [2,4,6,8]
for i in input_:
    assert i%2==0

25) Program to use `yield` to produce next value in a generator

In [157]:
def simpleGeneratorFun(): 
    yield 1
    yield 2
    yield 3
  
# Driver code to check above generator function 
for value in simpleGeneratorFun():  
    print(value)

1
2
3

26) Program using generator to print the even numbers between 0 and n in comma separated form while n is input by console.

In [1]:
def EvenNumberGenerator(n):
    i=0
    while i<=n:
        if i%2==0:
            yield i
        i+=1

n=100
values = []
for i in EvenNumberGenerator(n):
    values.append(str(i))

print(",".join(values))

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100

27) Program to display fibonacci sequence until the mentioned Sequence

In [2]:
def fib(n):
    if n == 0: return 0
    elif n == 1: return 1
    else: return fib(n-1)+fib(n-2)

n=7
values = [str(fib(x)) for x in range(0, n+1)]
print(",".join(values))

0,1,1,2,3,5,8,13

28) Program to find the fib value of the mentioned limit

In [3]:
def fib(n):
    if n == 0: return 0
    elif n == 1: return 1
    else: return fib(n-1)+fib(n-2)

n=10
print(fib(n))

55

29) Program to implement simple recursive function

In [4]:
def recFunc(n):
    if n==0:
        return 0
    else:
        return recFunc(n-1)+100

number = 20
print(recFunc(number))

2000

30) Program to compute `1/2+2/3+3/4+...+n/n+1` with a given n input

In [5]:
n=12
sum=0.0
for i in range(1,n+1):
    sum += float(float(i)/(i+1))
print(sum)

9.819866244866246

31) Program which accepts a sequence of words separated by whitespace as input to print the words composed of digits only

In [6]:
import re
s = 'The School of End 1 Phase 1 in progress'
print(re.findall("\d+",s))

['1', '1']

32) Program to print the company name of a given email address

In [7]:
import re
emailAddress = 'bala@abc.com'
pat2 = "(\w+)@(\w+)\.(com)"
r2 = re.match(pat2,emailAddress)
print('Company Name : ', r2.group(2))

Company Name :  abc

33) Program to print the user name of a given email address.

In [8]:
import re
emailAddress = 'bala@abc.com'
pat2 = "(\w+)@((\w+\.)+(com))"
r2 = re.match(pat2,emailAddress)
print('User Name : ', r2.group(1))

User Name :  bala

34) Program to define a custom exception class which takes a string message as attribute.

In [9]:
class MyError(Exception):
    """My own exception class

    Attributes:
        msg  -- explanation of the error
    """

    def __init__(self, msg):
        self.msg = msg

error = MyError("OOPs!!! An exception occured")

35) Program to compute `ValidNumber/0` and use try/except to catch the exceptions.

In [10]:
def throws():
    return 5/0

try:
    throws()
except ZeroDivisionError:
    print("division by zero!")
finally:
    print('Finally block for cleanup purpose')

division by zero!
Finally block for cleanup purpose

36) Program to `raise` an exception

In [80]:
raise RuntimeError('A runtime exception')

RuntimeError: ignored

37) Program to define area of a square

In [13]:
class Shape(object):
    def __init__(self):
        pass

    def area(self):
        return 0

class Square(Shape):
    def __init__(self, l):
        Shape.__init__(self)
        self.length = l

    def area(self):
        return self.length*self.length

aSquare= Square(3)
print('Area of a Square 3 : ', aSquare.area())
aSquare= Square(9)
print('Area of a Square 9 : ', aSquare.area())
aSquare= Square(7)
print('Area of a Square 7 : ', aSquare.area())

Area of a Square 3 :  9
Area of a Square 9 :  81
Area of a Square 7 :  49

38) Program to define area of Rectangle

In [14]:
class Rectangle(object):
    def __init__(self, l, w):
        self.length = l
        self.width  = w

    def area(self):
        return self.length*self.width

aRectangle = Rectangle(2,10)
print('Area of a rectangle (2,10)', aRectangle.area())
aRectangle = Rectangle(3,9)
print('Area of a rectangle (3,9)', aRectangle.area())
aRectangle = Rectangle(4,8)
print('Area of a rectangle (4,8)', aRectangle.area())
aRectangle = Rectangle(5,7)
print('Area of a rectangle (5,7)', aRectangle.area())

Area of a rectangle (2,10) 20
Area of a rectangle (3,9) 27
Area of a rectangle (4,8) 32
Area of a rectangle (5,7) 35

39) Program to define the area of the circle

In [15]:
class Circle(object):
    def __init__(self, r):
        self.radius = r

    def area(self):
        return self.radius**2*3.14

aCircle = Circle(2)
print(aCircle.area())

12.56

40) Program to define a class and its subclass

In [16]:
class School(object):
    pass

class Student(School):
    pass

aSchool = School()
aStudent = Student()
print(aSchool)
print(aStudent)

<__main__.School object at 0x7fa2e80671d0>
<__main__.Student object at 0x7fa2e80670f0>

41) Program to define a Class and a static method

In [17]:
class ChristUniversity(object):
    @staticmethod
    def print():
        print("Christite")

christUniversity = ChristUniversity()
christUniversity.print()
ChristUniversity.print()

Christite
Christite

42) Program which can map() to make a list whose elements are square of numbers between 1 and 20

In [18]:
squaredNumbers = map(lambda x: x**2, range(1,21))
print(list(squaredNumbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

43) Program which can filter() to make a list whose elements are even number between 1 and 20

In [19]:
evenNumbers = filter(lambda x: x%2==0, range(1,21))
print(list(evenNumbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

44) Program which can map() and filter() to make a list whose elements are square of even number in [1,2,3,4,5,6,7,8,9,10].

In [20]:
inputList = [1,2,3,4,5,6,7,8,9,10]
evenNumbers = map(lambda x: x**2, filter(lambda x: x%2==0, inputList))
print(list(evenNumbers))

[4, 16, 36, 64, 100]

45) Program which can map() to make a list whose elements are square of elements in [1,2,3,4,5,6,7,8,9,10].

In [21]:
inputList = [1,2,3,4,5,6,7,8,9,10]
squaredNumbers = map(lambda x: x**2, inputList)
print(list(squaredNumbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

46) Program which can filter even numbers in a list by using filter function. The list is: [1,2,3,4,5,6,7,8,9,10].

In [ ]:
inputList = [1,2,3,4,5,6,7,8,9,10]
evenNumbers = filter(lambda x: x%2==0, inputList)
print(list(evenNumbers))

47) Program which accepts a string as input to print "Yes" if the string is "yes" or "YES" or "Yes", otherwise print "No".

In [22]:
input_= "Yes"
if input_=="yes" or input_=="YES" or input_=="Yes":
    print("Yes")
else:
    print("No")

Yes

48) Program to print the first half values in one line and the last half values in one line for the given tuple

In [23]:
inputTuple = (1,2,3,4,5,6,7,8,9,10)
firstHalfTuple = inputTuple[:5]
secondHalfTuple = inputTuple[5:]
print('First Half Tuple : ', firstHalfTuple)
print('Second Half Tuple : ', secondHalfTuple)

First Half Tuple :  (1, 2, 3, 4, 5)
Second Half Tuple :  (6, 7, 8, 9, 10)

49) Program to print a tuple where the value are square of numbers between 1 and 20

In [24]:
def displayTuple():
	inputList=list()
	for i in range(1,21):
		inputList.append(i**2)
	print(tuple(inputList))
		
displayTuple()

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400)

50) Program to generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print all values except the first 5 elements in the list.

In [25]:
def generateList():
	inputList=list()
	for i in range(1,21):
		inputList.append(i**2)
	print(inputList[5:])
		
generateList()

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

51) Program to Generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print the last 5 elements in the list.

In [26]:
def generateList():
	inputList=list()
	for i in range(1,21):
		inputList.append(i**2)
	print(inputList[-5:])
		
generateList()

[256, 289, 324, 361, 400]

52) Program to generate a list where the values are square of numbers between 1 and 20 (both included). Then the function needs to print the first 5 elements in the list.

In [27]:
def generateList():
	inputList=list()
	for i in range(1,21):
		inputList.append(i**2)
	print(inputList[:5])
		
generateList()

[1, 4, 9, 16, 25]

53) Program to Generate and print a list where the values are square of numbers between 1 and 20 (both included).

In [28]:
def generateList():
	inputList=list()
	for i in range(1,21):
		inputList.append(i**2)
	print(inputList)
		
generateList()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

54) Program to Define a class Person and its two child classes: Male and Female. All classes have a method "getGender" which can print "Male" for Male class and "Female" for Female class.

In [29]:
class Person(object):
    def getGender( self ):
        return "Unknown"

class Male( Person ):
    def getGender( self ):
        return "Person is Male"

class Female( Person ):
    def getGender( self ):
        return "Person is Female"

malePerson = Male()
femalePerson= Female()
print(malePerson.getGender())
print(femalePerson.getGender())

Person is Male
Person is Female

55) Program to Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the keys only.

In [30]:
def generateDictionary():
	customDictionary = dict()
	for index in range(1,21):
		customDictionary[index]=index**2
	for key in customDictionary.keys():	
		print('Key is : ', key)
		
generateDictionary()

Key is :  1
Key is :  2
Key is :  3
Key is :  4
Key is :  5
Key is :  6
Key is :  7
Key is :  8
Key is :  9
Key is :  10
Key is :  11
Key is :  12
Key is :  13
Key is :  14
Key is :  15
Key is :  16
Key is :  17
Key is :  18
Key is :  19
Key is :  20

56) Program to Define a function which can generate a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys. The function should just print the values only.

In [31]:
def generateDictionary():
	customDictionary = dict()
	for index in range(1,21):
		customDictionary[index]=index**2
	for (key, value) in customDictionary.items():	
		print('Value is : ', value)
		
generateDictionary()

Value is :  1
Value is :  4
Value is :  9
Value is :  16
Value is :  25
Value is :  36
Value is :  49
Value is :  64
Value is :  81
Value is :  100
Value is :  121
Value is :  144
Value is :  169
Value is :  196
Value is :  225
Value is :  256
Value is :  289
Value is :  324
Value is :  361
Value is :  400

57) Program to print a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys.

In [32]:
def generateDictionary():
	customDictionary = dict()
	for index in range(1,21):
		customDictionary[index]=index**2
	print('Custom dictionary is : ', customDictionary)
		
generateDictionary()

Custom dictionary is :  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

58) Program to print a dictionary where the keys are numbers between 1 and 3 (both included) and the values are square of keys.

In [33]:
def generateCustomDictionary():
	customDictionary = dict()
	customDictionary[1]=1
	customDictionary[2]=2**2
	customDictionary[3]=3**2
	print('Custom dictionary is : ', customDictionary)
		

generateCustomDictionary()

Custom dictionary is :  {1: 1, 2: 4, 3: 9}

59) Program that can accept an integer number as input and print the "It is an even number" if the number is even, otherwise print "It is an odd number".

In [34]:
def validateValue(inputNumber):
	if inputNumber%2 == 0:
		print(inputNumber,"is an even number")
	else:
		print(inputNumber,"is an odd number")
		

validateValue(23)

23 is an odd number

60) Program that can accept two strings as input and print the string with maximum length in console. If two strings have the same length, then the function should print al l strings line by line.

In [35]:
def generateValues(string1,string2):
	string1len = len(string1)
	string2len = len(string2)
	if string1len>string2len:
		print(string1)
	elif string2len>string1len:
		print(string2)
	else:
		print(string1, ' - ', string2)
 
generateValues("The School","Of AI")
generateValues("The School","The School")

The School
The School  -  The School

61) Program that can accept two strings as input and concatenate them and then print it in console.

In [36]:
def displayValue(string1,string2):
	print(string1+string2)

displayValue("The School Of ","AI")
displayValue("10 ","65")

The School Of AI
10 65

62) Program that can receive two integral numbers in string form and compute their sum and then print it in console.

In [37]:
def concatentateValue(string1,string2):
	print(int(string1)+int(string2))

concatentateValue("18","02")

20

63) Program that can convert a integer into a string and print it in console.

In [38]:
def convertIntToString(inputNumber):
	print(str(inputNumber))

convertIntToString(17)

17

64) Program with two numbers as arguments. You can compute the sum in the function and return the value.

In [39]:
def sumTwoNumbers(inputNumber1, inputNumber2):
	return inputNumber1+inputNumber2

print(sumTwoNumbers(1,2))

3

65) Program to define a class, which have a class parameter and have a same instance parameter.

In [40]:
class Person:
    # Define the class parameter "name"
    name = "Person"
    
    def __init__(self, name = None):
        # self.name is the instance parameter
        self.name = name

person1 = Person("Person1")
print("%s name is %s" % (Person.name, person1.name))

person2 = Person()
person2.name = "Person2"
print("%s name is %s" % (Person.name, person2.name))

Person name is Person1
Person name is Person2

66) Program to calculate square value of number

In [41]:
def squareOfANumber(inputNumber):
    return inputNumber ** 2

print(squareOfANumber(12))
print(squareOfANumber(32))

144
1024

67) Program to compute the frequency of the words from the input.

In [42]:
frequency = {}   # frequency of words in text
line = "The School Of AI and the AI School. Program name is END Program, EVA Program. EVA has EVA Phase 1, Phase 2"
for word in line.split():
    frequency[word] = frequency.get(word,0)+1

words = frequency.keys()

for word in words:
    print("%s:%d" % (word,frequency[word]))

The:1
School:1
Of:1
AI:2
and:1
the:1
School.:1
Program:1
name:1
is:1
END:1
Program,:1
EVA:3
Program.:1
has:1
Phase:2
1,:1
2:1

68) Program to list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers

In [43]:
inputValues = "11,22,33,44,55,66,77,88,99"
output = [x for x in inputValues.split(",") if int(x)%2!=0]
print(",".join(output))

11,33,55,77,99

69) Program that computes the value of k+kk+kkk+kkkk with a given digit as the value of num

In [44]:
num = 12
output1 = int( "%s" % num )
output2 = int( "%s%s" % (num,num) )
output3 = int( "%s%s%s" % (num,num,num) )
output4 = int( "%s%s%s%s" % (num, num, num, num) )
print(output1 + output2 + output3 + output4)

12243648

70) Program that accepts a sentence and calculate the number of upper case letters and lower case letters.

In [45]:
string = "The School Of AI"
caseDictionary={"UPPER CASE":0, "LOWER CASE":0}
for c in string:
    if c.isupper():
        caseDictionary["UPPER CASE"]+=1
    elif c.islower():
        caseDictionary["LOWER CASE"]+=1
    else:
        pass
print("UPPER CASE", caseDictionary["UPPER CASE"])
print("LOWER CASE", caseDictionary["LOWER CASE"])

UPPER CASE 5
LOWER CASE 8

71) Program that accepts a sentence and calculate the number of letters and digits.

In [46]:
string = "The School Of AI END Program Phase 1, month 12"
caseDictionary={"DIGITS":0, "LETTERS":0}
for c in string:
    if c.isdigit():
        caseDictionary["DIGITS"]+=1
    elif c.isalpha():
        caseDictionary["LETTERS"]+=1
    else:
        pass
print("LETTERS", caseDictionary["LETTERS"])
print("DIGITS", caseDictionary["DIGITS"])

LETTERS 33
DIGITS 3

72) Program which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [47]:
numberValues = []
for i in range(1000, 3001):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0) and (int(s[3])%2==0):
        numberValues.append(s)
print(",".join(numberValues))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

73) Program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.

In [48]:
numberValue = []
items=[x for x in "0001,1111,1010,1110".split(',')]
for p in items:
    intp = int(p, 2)
    if not intp%5:
        numberValue.append(p)

print(','.join(numberValue))

1111,1010

74) Program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.

In [49]:
s = "The School Of AI has EVA Phase 1, Phase 2  and END Programs"
words = [word for word in s.split(" ")]
print(" ".join(sorted(list(set(words)))))

 1, 2 AI END EVA Of Phase Programs School The and has

75) Program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.

In [50]:
lines = []
while True:
    s = input()
    if s:
        lines.append(s.upper())
    else:
        break;

for sentence in lines:
    print(sentence)

the school of ai
has two major programs
end and eva

THE SCHOOL OF AI
HAS TWO MAJOR PROGRAMS
END AND EVA

76) Program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.

In [51]:
itemValue=[x for x in input().split(',')]
itemValue.sort()
print(','.join(itemValue))

the, school, of ,ai
 of , school,ai,the

77) Program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.

In [52]:
inputString = input()
dimensions=[int(x) for x in inputString.split(',')]
rowNumber=dimensions[0]
colNumumber=dimensions[1]
multipleList = [[0 for col in range(colNumumber)] for row in range(rowNumber)]

for row in range(rowNumber):
    for col in range(colNumumber):
        multipleList[row][col]= row*col

print(multipleList)

3,5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

78) Program to define a class which has at least two methods:
extractString: to get a string from console input
displayString: to print the string in upper case.

In [53]:
class StringOperation(object):
    def __init__(self):
        self.string = ""

    def extractString(self):
        self.string = input()

    def displayString(self):
        print(self.string.upper())

strOpr = StringOperation()
strOpr.extractString()
strOpr.displayString()

the school of ai
THE SCHOOL OF AI

79) Program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.

In [56]:
inputValues=input()
asList=inputValues.split(",")
asTuple=tuple(inputValues)
print('As a List : ', asList)
print('As a Tuple : ', asTuple)

1,2,3
As a List :  ['1', '2', '3']
As a Tuple :  ('1', ',', '2', ',', '3')

80) Program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

In [57]:
numberValue=int(input())
customDictionary=dict()
for i in range(1,numberValue+1):
    customDictionary[i]=i*i

print(customDictionary)

6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

81) Program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.

In [58]:
def factorial(inputNumber):
    if inputNumber == 0:
        return 1
    return inputNumber * factorial(inputNumber - 1)

inputNumber=int(input())
print('Factorial of a number : ', inputNumber, 'is : ',  factorial(inputNumber))

33
Factorial of a number :  33 is :  8683317618811886495518194401280000000

82) Program to check if a string is palindrome or not

In [59]:
def validateWordPalindrome(inputValue):
    return s == s[::-1]

inputValue = "TENET"
result = validateWordPalindrome(inputValue)
 
if result:
    print("True,", inputValue," is a palindrome")
else:
    print("False,", inputValue," is not a palindrome")

True, TENET  is a palindrome

83) Program to check if a given string is Keyword or not

In [60]:
import keyword 
  
def validateKeyword(word) : 
    listOfKeywords= keyword.kwlist 

    if word in listOfKeywords : 
        return "is a keyword"
    else : 
        return "is not a keyword"

print('theschoolofai :', validateKeyword("theschoolofai")) 
print("for :", validateKeyword("for"))

theschoolofai : is not a keyword
for : is a keyword

84) Program to Check if a given string is binary string or not

In [62]:
def validateStringIsBinary(inputValue) : 
  
    p = set(inputValue) 
    s = {'0', '1'} 
  
    if s == p or p == {'0'} or p == {'1'}: 
        print("Yes a binary") 
    else : 
        print("Not a binary") 

inputValue = "101010000111"
validateStringIsBinary(inputValue) 

inputValue = "1010100111"
validateStringIsBinary(inputValue)

Yes a binary
Yes a binary

85) Program to validate year is leap year or not

In [63]:
year = int(input("Enter a year: "))  
if (year % 4) == 0:  
   if (year % 100) == 0:  
       if (year % 400) == 0:  
           print("{0} is a leap year".format(year))  
       else:  
           print("{0} is not a leap year".format(year))  
   else:  
       print("{0} is a leap year".format(year))  
else:  
   print("{0} is not a leap year".format(year))

Enter a year: 1988
1988 is a leap year

86) Program to count the number of spaces in a string

In [64]:
str=input()
spaces=0
for i in range(0,len(str)):
  if(str[i]==' '):
    spaces=spaces+1
print("The number of spaces are: ",spaces)

the school of ai
The number of spaces are:  3

87) Program to count the number of characters in a string except spaces

In [65]:
a_string = " The School Of AI "
number_of_letters = len(a_string) - a_string.count(" ")
print(number_of_letters)

13

88) Program to Add Two float Numbers

In [66]:
num1 = input('Enter first number: ')
num2 = input('Enter second number: ')
 
sum = float(num1) + float(num2)
 
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

Enter first number: 2.5
Enter second number: 5.2
The sum of 2.5 and 5.2 is 7.7

89) Program to multiply two matrices

In [67]:
# 3x3 matrix
X = [[11,4,7],
    [4 ,5,6],
    [7 ,8,3]]
# 3x4 matrix
Y = [[4,8,1,2],
    [6,7,3,0],
    [4,4,9,1]]
# result is 3x4
result = [[0,0,0,0],
         [0,0,0,0],
         [0,0,0,0]]
 
# iterate through rows of X
for i in range(len(X)):
   # iterate through columns of Y
   for j in range(len(Y[0])):
       # iterate through rows of Y
       for k in range(len(Y)):
           result[i][j] += X[i][k] * Y[k][j]
 
for r in result:
   print(r)

[96, 144, 86, 29]
[70, 91, 73, 14]
[88, 124, 58, 17]

90) Program to Display the multiplication Table

In [68]:
num = int(input("Display multiplication table of? "))

# use for loop to iterate 10 times
for i in range(1,11):
   print(num,'x',i,'=',num*i)

Display multiplication table of? 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

91) Program To Display Powers of 2 Using Anonymous Function

In [69]:
terms = int(input("How many terms? "))
 
# use anonymous function
result = list(map(lambda x: 2 ** x, range(terms)))
 
# display the result
for i in range(terms):
   print("2 raised to power",i,"is",result[i])

How many terms? 4
2 raised to power 0 is 1
2 raised to power 1 is 2
2 raised to power 2 is 4
2 raised to power 3 is 8

92) Program to Add Two Matrices

In [70]:
X = [[11,4,7],
    [4 ,5,6],
    [7 ,8,3]]
# 3x4 matrix
Y = [[4,8,1,2],
    [6,7,3,0],
    [4,4,9,1]]
 
result = [[0,0,0],
         [0,0,0],
         [0,0,0]]
 
# iterate through rows
for i in range(len(X)):
   # iterate through columns
   for j in range(len(X[0])):
       result[i][j] = X[i][j] + Y[i][j]
 
for r in result:
   print(r)

[15, 12, 8]
[10, 12, 9]
[11, 12, 12]

93) Program to Generate a Random Number

In [71]:
import random
print('First random : ', random.randint(0,9))
print('Second random : ', random.randint(0,9))
print('Third random : ', random.randint(0,9))
print('Fourth random : ', random.randint(0,9))

First random :  7
Second random :  3
Third random :  0
Fourth random :  8

94) Program to Print all Prime Numbers in an Interval

In [73]:
# take input from the user
lower = int(input("Enter lower range: "))
upper = int(input("Enter upper range: "))
 
for num in range(lower,upper + 1):
   # prime numbers are greater than 1
   if num > 1:
       for i in range(2,num):
           if (num % i) == 0:
               break
       else:
           print(num)

Enter lower range: 12
Enter upper range: 45
13
17
19
23
29
31
37
41
43

95) Program to demonstrate `while` loop

In [74]:
num = 1
# loop will repeat itself as long as
# num < 10 remains true
while num < 10:
    print(num)
    #incrementing the value of num
    num = num + 3

1
4
7

96) Program to demonstrate Nested while loop

In [75]:
i = 1
j = 5
while i < 4:
    while j < 8:
        print(i, ",", j)
        j = j + 1
        i = i + 1

1 , 5
2 , 6
3 , 7

97) Program to demonstrate while loop with else block

In [76]:
num = 10
while num > 3:
   print(num)
   num = num-1
else:
   print("loop is finished")

10
9
8
7
6
5
4
loop is finished

98) Program to Remove Punctuation from a String

In [77]:
punctuation = '''''!()-[]{};:'"\,<>./?@#$%^&*_~'''  
# take input from the user  
my_str = input("Enter a string: ")  
# remove punctuation from the string  
no_punct = ""  
for char in my_str:  
   if char not in punctuation:  
       no_punct = no_punct + char  
# display the unpunctuated string  
print(no_punct)

Enter a string: the, schoo of ai has end phase-1 & phase-2
the schoo of ai has end phase1  phase2

99) Program to display calendar

In [78]:
import calendar  
# Enter the month and year  
yy = int(input("Enter year: "))  
mm = int(input("Enter month: "))  
  
# display the calendar  
print(calendar.month(yy,mm))

Enter year: 1988
Enter month: 2
   February 1988
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29

100) Program to convert Celsius to Fahrenheit

In [79]:
celsius = float(input('Enter temperature in Celsius: '))  
fahrenheit = (celsius * 1.8) + 32  
print('%0.1f  Celsius is equal to %0.1f degree Fahrenheit'%(celsius,fahrenheit))

Enter temperature in Celsius: 89
89.0  Celsius is equal to 192.2 degree Fahrenheit